 
  form {
    width: 100%; 
    box-sizing: border-box;
    padding: 0 20px; 
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block; /* Display input elements as block for full width */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: seagreen;
  }

  .pop {
    position: absolute;
    background-color: rgb(241, 235, 235); 
    height: auto; 
    width: 90%; 
    max-width: 400px; 
    border-radius: 15px;
    padding: 20px; 
   margin-left: 38%;
   top: 26%;
    box-sizing: border-box; 
   
}
@media (min-width: 768px) {
  .pop {
    width: 60%; /* Adjust width for larger screens */
    max-width: 400px; /* Set a maximum width for larger screens */
  }
}
  