.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width:500px; /* Adjust the width of the form as needed */
    box-sizing: border-box;
  }
  input[type="text"],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
